header.bg-indigo-600.p-4
    .container.mx-auto.flex.justify-between.items-center
        h1.text-2xl.text-white.font-extrabold.text-center Real
            span.font-normal Estate

        nav(class="my-5 text-sm md:flex md:items-center md:gap-3  font-bold text-white")
            a(href="/auth/registration") Create an account
            a(href="/auth/login") log in

div(class="bg-indigo-700 py-5 hidden lg:block")
    div(class="container mx-auto flex justify-between")
        a(href="/categories/1" class="text-sm font-bold uppercase text-white") House  
        a(href="/categories/2" class="text-sm font-bold uppercase text-white") Department 
        a(href="/categories/3" class="text-sm font-bold uppercase text-white") Warehouse
        a(href="/categories/4" class="text-sm font-bold uppercase text-white") Land
        a(href="/categories/5" class="text-sm font-bold uppercase text-white") Cabin  